.captionOuter {
  border: 6px solid black;
  margin: 8px 0;
  transform: skew(10deg);
  position: absolute;
  top: -40px;
  z-index: 1;
}

.captionInner {
  background-color: white;
  border: 4px solid white;
  color: black;
}

.captionContent {
  font-family: 'Arsenal';
  font-weight: bold;
  letter-spacing: 0.01rem;
  padding: 4px 4px;
  transform: skew(-10deg);
}

.dialogue {
  position: relative;
}

.outer {
  border: 6px solid black;
  margin: 8px 0;
}

.speakerLeftSkew {
  transform: skew(20deg);
}

.speakerLeftUnskew {
  transform: skew(-20deg);
}

.speakerRightSkew {
  transform: skew(-20deg);
}

.speakerRightUnskew {
  transform: skew(20deg);
}

.inner {
  background-color: black;
  border: 4px solid white;
  color: white;
}

.inner:hover {
  background-color: white;
  color: black;
}

.content {
  font-family: 'Arsenal';
  font-weight: bold;
  letter-spacing: 0.01rem;
  padding: 16px 24px;
}
